---
import Layout from "../layouts/Layout.astro";
import BaffleText from "../components/BaffleText.astro";
import GlitchAvatar from "../components/GlitchAvatar.astro";
---

<Layout>
	<div class="page-grid | p-8 h-screen uppercase text-center lg:text-left">
		<div id="uno" class="lg:mt-auto">
			<button
				type="button"
				class="chroma-reroll | mx-auto mb-4 lg:m-0 block appearance-none border-0 bg-transparent p-0 cursor-pointer rounded-full"
				aria-label="Shuffle background"
				title="Shuffle background"
			>
				<GlitchAvatar
					src="/avatar.png"
					alt="picture of john"
					size={64}
					delay={0}
					duration={900}
					class="size-16 rounded-full"
				/>
			</button>
		</div>
		<div id="dos">
			<h1>
				<BaffleText text="John Meguerian" delay={150} speed={32} />
			</h1>
		</div>
		<div id="tres">
			<BaffleText text="Design Manager" delay={450} speed={32} />
		</div>
		<div id="cuatro" class="mt-auto flex flex-col gap-4">
			<p>
				<BaffleText
					text={"johnmeguerian\n[at] gmail.com"}
					delay={800}
					speed={28}
				/>
			</p>
			<p>
				<BaffleText
					text={"Brooklyn\nNew York\nUnited States"}
					delay={1100}
					speed={28}
				/>
			</p>
			<p>
				<BaffleText
					text="[ 40°40'N, 73°59'W ]"
					delay={1400}
					speed={24}
				/>
			</p>
		</div>
	</div>
</Layout>

<script>
	// The avatar doubles as a hidden control: click to re-roll the background.
	document
		.querySelector<HTMLButtonElement>("button.chroma-reroll")
		?.addEventListener("click", () => {
			window.dispatchEvent(new CustomEvent("chroma:reroll"));
		});
</script>
